:root {
    --oscuro: #000;
    --blanco: #FFF;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}

/*Global*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

/*Tipografia*/

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.35rem;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--secundario);
}

/*Utilidades*/
.no-border{
    border: none;
}

/*Header*/

.titulo {
    text-align: center;
}

.titulo span {
    font-size: 1.6rem;
}

/*Barra de navegacion*/

.bg-azul {
    background-color: var(--secundario);
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.navegacion a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.7rem;
    color: var(--blanco);
    font-weight: bold;
}

.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 480px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/*Seccion Diseño y Desarrollo Web Freenlancer*/

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;

}

.hero__contenido {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__titulo,
.hero__parrafo {
    color: var(--blanco);
}

.hero__parrafo {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}

.boton {
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--secundario);
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
}

/*Mis servicios*/

@media ( min-width: 768px ){
    .contenedor{
        width: 60%;
    }
}

.servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.servicios__seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.servicios__svg{
    height: 10rem;
    width: 10rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios__parrafo{
    text-align: justify;
    font-size: 1rem;
}

/*formulario*/

.formulario{
    background-color: var(--gris);
    padding: 2rem;
}

.formulario__leyenda{
    text-align: center;
}

