:root {
    --oscuro: #000;
    --blanco: #FFF;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 62.5%;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 1.8rem;
}

.titulo span {
    font-size: 1rem;
}

.bg-azul {
    background-color: var(--secundario);
}

.contenedor {
    max-width: 120rem;
    margin: auto;
}

.navegacion a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.4rem;
    color: var(--blanco);
    font-weight: bold;
}

.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 480px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;

}

.hero__contenido {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__titulo {
    color: var(--blanco);
}

.hero__parrafo {
    color: var(--blanco);
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
}

.boton {
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--secundario);
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
}