:root {
    --oscuro: #000;
    --blanco: #FFF;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}

/*Global*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background: linear-gradient(var(--blanco), var(--secundario) 700%);
}

/*Tipografia*/

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.35rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secundario);
}

/*Utilidades*/
.no-border {
    border: none;
}

.no-margin{
    margin: 0;
}

/*Header*/

.titulo {
    text-align: center;
}

.titulo span {
    font-size: 1.6rem;
}

/*Barra de navegacion*/

.bg-azul {
    background-color: var(--secundario);
}

.contenedor {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.navegacion a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.7rem;
    color: var(--blanco);
    font-weight: bold;
}

.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 480px) {
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/*Seccion Diseño y Desarrollo Web Freenlancer*/

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;

}

.hero__contenido {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__titulo,
.hero__parrafo {
    color: var(--blanco);
}

.hero__parrafo {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}

.boton {
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--secundario);
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
}

/*Mis servicios*/

@media (min-width: 768px) {
    .contenedor {
        width: 60%;
    }
}

.shadow-box {
    box-shadow: 0px 0px 50px -18px rgba(0, 0, 0, 0.4);
}

@media ( min-width: 768px ){
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}

.servicios__medida{
    padding: 2rem;
    background-color: var(--blanco);
}

.servicios__titulo{
    padding: 2rem;
}

.servicios__seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.servicios__svg {
    height: 10rem;
    width: 10rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios__parrafo {
    text-align: justify;
    font-size: 1rem;
}

/*formulario*/

.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 0.5rem;
}

.formulario__leyenda {
    text-align: center;
    color: var(--primario);
    text-transform: uppercase;
    font-weight: bold;
}

@media(min-width: 768px){
    .formulario__grid{
        display: grid;
    }
}

.formulario__seccion{
    margin: 1rem 0;
}

@media(min-width: 769px){
    .formulario__seccion-doble{
        display: flex;
        gap: 1rem;
    }

    .formulario__seccion{
        display: flex;
        align-items: center;
    }

    .formulario__seccion-doble > .formulario__seccion{
        flex-basis: 50%;
    }
}

.formulario__label{
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.4rem;
    min-width: 7rem;
    
}

.formulario__input{
    padding: 0.8rem;
    font-size: 1.4rem;
    width: 100%;
    
}

.formulario__text-area{
    height: 13rem;
}

.izquierda{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/*Footer*/

.footer{
    text-align: center;
    margin: 2rem 0;
}